.Main {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.Main h2 {
    color: #fff;
    padding-top: 20px;
    margin-bottom: 20px;
}

.baseCurrency p {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 5px;
    margin-bottom: 40px;
    font-size: 18px;
    color: white;
    border-bottom: 1px solid gold;

}


.Main table {
    width: 280px;
    margin-right: auto;
    margin-left: auto;
    border-collapse: collapse;
    /*border: 2px solid gold;*/
    margin-bottom: 20px;
    color: white;
}

.Main th {
    padding: 10px;
    border: 0 solid #fff;
}

.Main td {
    padding: 10px;
    border: 1px solid gold;
}




.Main ul {
    /*margin-bottom: auto;*/
    display: flex;
    justify-content: space-around;
}
.Main li {
    width: 140px;
}

.link {
    display: block;
    padding: 10px;

    margin-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
    border: 1px solid gold;

    color: white;
    transition: background-color 0.4s ease;
}

.link:hover {

    border: 1px solid gold;
    background-color: gold;
    color: #333;
    transition: all 0.4s ease;
}
